#red{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  left:212px;
  top:212px;
}

#blue{
  height: 100px;
  width:100px;
  background-color: blue;
  position: absolute;
  top:110px;
  left:110px;
  
}

#yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
 position: absolute;
}