/* body has 20 px border, has a set width. */
body{
  font-family: 'Source Sans Pro', sans-serif;
  border: 20px solid #bdc3c7;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 700px;
}

h1{
  color:#2C3E50;
}

hr{
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  
}

.date{
   color:#3498DB;
   text-transform: uppercase;
   letter-spacing: .2rem;
}

.intro{
  border-left: 6px solid #bdc3c7;
  padding-left: 5px;
}

