p{
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  margin-left: 1.66%;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom:2px solid #f1f1f1;
  width:30%;
  padding-bottom:20px;
}
img{
  width:15em;
} 

.container{
  max-width: 1080px;
  margin: auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}

.flex .item{
  flex-basis: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top:1em;



}

